ibm_host file search should not be case sensitive

The hostname lookup in the ibm_host file appears to be case sensitive, which is inconsistent with hostname lookup in DNS (RFC 1035, section 2.3.3).q graf


expected behavior: ibm_host file is searched in a case insensitive manner.

Fixed.